@font-face {
  font-family: "iconfont"; /* Project id 2656771 */
  src: url('iconfont.woff2?t=1628043039155') format('woff2'),
       url('iconfont.woff?t=1628043039155') format('woff'),
       url('iconfont.ttf?t=1628043039155') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e698";
}

.icon-001zhankai:before {
  content: "\e614";
}

.icon-zhankai:before {
  content: "\e62a";
}

.icon-fanhuidingbu:before {
  content: "\e6b9";
}

.icon-shanchu:before {
  content: "\e6c7";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-shijian:before {
  content: "\e605";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-renyuan:before {
  content: "\e61a";
}

